{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" class="css">
    <link rel="shortcut icon" href="{% static 'image/favicon.png'%}" type="image/x-icon">
</head>

<body>
    <div class="wel">
        <h1 class="welcome">Welcome!!!</h1>
    </div>

    <p>Your time, our concern</p>
    <p class="intro"> Pick a teller of your choice</p>

    <div class="guidance">
        <div>
            <button class="details"> Need datils?</button>


            <p>down below you can get the number of people to be served and your estimated waiting time</p>

        </div>
        <div>
            <button class="checkin"> Check in</button>
            <p>Once you are here, click a blue button below to be assigned an id which is your position to be served</p>

        </div>
        <div>

            <button class="checkout"> Check out</button>
            <p>Once you are done being served, click the red button below to be remved fromthe queue </p>

        </div>


    </div>




    <div class="all">
        <h2 class="title">Tellers information</h2>
        <hr>
        <div class="teller-list">

            {% for teller in tellers %}

            <div class="teller-info">
                <div class="teName"> <img src="{{teller.profile.url}}" alt="">
                    <h3>Name: <b class="name">{{teller.name}}</b> </h3>
                    <hr>
                </div>
                <div class="teName"> <img src="{% static 'image/waiting.jpg' %}" alt="">
                    <h3>Customers: {{teller.customers}}</h3>
                </div>
                <div class="teName"> <img src="{% static 'image/time.png' %}" alt="">
                    <h3>Waiting: {{teller.get_estimated_time}} min</h3>
                </div>
                <div class="teName"> <img src="{% static 'image/timer.png' %}" alt="">
                    <h3>Time/cust: {{teller.wait_time}} min</h3>
                </div>
                <div class="teName">
                    <a class="teller-link" href="{{teller.get_absolute_url}}">View/ Checkout</a>
                </div>


            </div>
            {% empty%}
            <h3>No tellers available now</h3>
            <p>Check in after some time</p>
            {% endfor %}
        </div>

    </div>



    <footer>
        <small>&copy; Copyright 2022, group XXX</small>


        <div class="media">
            <img src="{% static 'image/insta.png' %}" alt="">
            <img src="{% static 'image/youtube.png' %}" alt="">
            <img src="{% static 'image/twitte.png' %}" alt="">
        </div>


    </footer>

</body>

</html>