{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teller| {{teller.name}}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" class="css" />
    <link rel="shortcut icon" href="{% static 'image/favicon.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'update.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>Follow us</li>
        </ul>
    </nav>
    <div class="separator"></div>
    <div class="teller">
        <h2 class="title">Current customer:</h2>
    </div>

    {% if teller.get_next_customer %}
    <div class="hero">
        <div class="customer-info">
            <h4>Name: {{teller.get_next_customer.name}}</h4>
            <h4>Code: {{teller.get_next_customer.code}}</h4>
            <h4>Arrived at: {{teller.get_next_customer.arrived_at}}</h4>
        </div>
        <div class="next-timer">
            <h4 class="title">Next customer in...</h4>
            <div class="next-customer-timer">

                <span class="c-digit" id="c-hours">0</span>
                <span id="c-minutes" class="c-digit">0</span><span id="c-seconds" class="c-digit">0</span>
            </div>
        </div>

    </div>
    {% else %}
    <div>
        <h2>No customers</h2>
    </div>
    {% endif %}





    <div class="all">
        <div class="teller">
            <h2 class="teller">Teller information</h2>
            <hr>
            <div class="teller-div">
                <div class="info">
                    <h4 class="title">Basic info</h4>
                    <div class="teName">
                        <img src="{{teller.profile.url}}" alt="" />
                        <h3>{{teller.name}}</h3>
                    </div>
                    <div class="teName">
                        <img src="{% static 'image/waiting.jpg' %}" alt="" />
                        <h3>{{teller.customers}}</h3>
                    </div>
                    <div class="teName">
                        <img src="{% static 'image/time.png' %}" alt="" />
                        <h3>{{teller.wait_time}} min</h3>
                    </div>
                </div>
                <div class="Badges">
                    <h4 class="title">Achievement</h4>
                    <div class="teName">
                        <img src="{% static 'image/badge1.png' %}" alt="" />
                        <h3>Teller of year 2022</h3>
                    </div>
                    <div class="teName">
                        <img src="{% static 'image/badge2.png' %}" alt="" />
                        <h3>Customer choice</h3>
                    </div>
                    <div class="teName">
                        <img src="{% static 'image/badge3.png' %}" alt="" />
                        <h3>Best track record</h3>
                    </div>
                </div>
            </div>

        </div>
        <div class="on">
            <div class="notify-div">
                <h1 class="notify"></h1>
                <p class="notify-p"></p>
            </div>
            <h2 class="teller-title">Management</h2>
            <hr>
            <div class="checks">
                <form action="{{ teller.get_register_url}}">
                    <input class="custName" type="text" placeholder="Your name" name="name" required />
                    <button class="add">Check in</button>
                </form>
            </div>
            <div class="customer-list">
                <h3 class="title">Pending customers</h3>
                <hr>
                <div class="flex flex-row" id="customer-list">
                    {% for customer in customers %}

                    <div class="customer-div">
                        <span class="number" data-color="#345">{{forloop.counter}}</span>
                        <h3>Name: {{customer.name}}</h3>
                        <h3>Code: {{customer.code}}</h3>
                        <h3>Arrived at: {{customer.arrived_at.time}}</h3>

                        <a class="customer-link" id="{{customer.code}}" href="{{customer.get_delete_url}}">Check out</a>

                    </div>
                    {% empty%}
                    <h1>No active customers</h1>
                    {% endfor %}
                </div>


            </div>

        </div>
    </div>

    <div class="countD">
        <h4 class="telle">All customers will checkout in</h4>
        <hr />
        <p>
            Your average estimated time to <br> wait for last customer
            <strong>{{teller.get_estimated_time}} </strong> minutes
        </p>
        <div class="counter">
            <span class="digit" id="hours"></span>
            <span class="digit" id="minutes"></span>
            <span class="digit" id="seconds"></span>
        </div>
    </div>

    <footer>
        <small>&copy; Copyright 2022, group XXX</small>

        <div class="media">
            <img src="{% static 'image/insta.png' %}" alt="" />
            <img src="{% static 'image/youtube.png' %}" alt="" />
            <img src="{% static 'image/twitte.png' %}" alt="" />
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {{teller.id| json_script:"teller"}}
    <div id="teller-message" class="teller-update">
        <h2>Updates tracker</h2>
        <hr>
        <div class="messages-div">
        </div>
        <div class="relative">

            <div class="chat-div">
                <textarea name="chat" id="chat-message" rows="2" placeholder="Message..."></textarea>
                <button id="send-message">Send</button>
            </div>
        </div>

    </div>

    <script src="{% static 'reconnecting-websocket.min.js' %}"></script>
    <script>

        const randomColor = Math.floor(Math.random() * 16777215).toString(16);
        document.querySelectorAll(".number").forEach(num => num.backgroundColor = "#" + randomColor);
        const estimated_time = "{{teller.get_estimated_time}}"
        const teller_customers = "{{teller.customers}}"
        const sec = 1000;
        const min = sec * 60;
        const hour = min * 60;
        const day = hour * 24;

        const endt = new Date();
        endt.setMinutes(endt.getMinutes() + parseInt(estimated_time))

        const int = setInterval(() => {
            const current = new Date().getTime();
            const remaining = endt.getTime() - current;
            document.getElementById("hours").innerText = Math.floor(
                (remaining % day) / hour
            );
            document.getElementById("minutes").innerText = Math.floor(
                (remaining % hour) / min
            );
            document.getElementById("seconds").innerText = Math.floor(
                (remaining % min) / sec
            );

            if (remaining < 0) {
                clearInterval(int);
                document.querySelector(".notify").innerText = "You are on!";
                document.querySelector(".notify-p").innerHTML =
                    "Your time is now. You can meet the teller";
                document.getElementById("seconds").innerText = 0
                document.getElementById("minutes").innerText = 0
                document.getElementById("hours").innerText = 0
            }
        }, 1000);
        let remainingForNextCustomer;
        try {
            const wt = "{{next_time}}"
            console.log(wt)
            const endCustomer = new Date(wt)
            console.log(endCustomer)
            const nextCustomer = setInterval(() => {
                const current = new Date().getTime();
                const remaining = endCustomer.getTime() - current;
                document.getElementById("c-hours").innerText = Math.floor(
                    (remaining % day) / hour
                );
                document.getElementById("c-minutes").innerText = Math.floor(
                    (remaining % hour) / min
                );
                document.getElementById("c-seconds").innerText = Math.floor(
                    (remaining % min) / sec
                );

                if (remaining < 0) {
                    clearInterval(nextCustomer);
                    document.getElementById("c-seconds").innerText = 0
                    document.getElementById("c-minutes").innerText = 0
                    document.getElementById("c-hours").innerText = 0
                }
            }, 1000);
        } catch (error) {
            console.warn(error)
        }

    </script>
    <script defer>
        let count = 0
        const teller = JSON.parse("{{teller.id}}")
        const ws_scheme = window.location.protocol == "https:" ? "wss://" : "ws://"

        const customerSocket = new ReconnectingWebSocket(
            ws_scheme + window.location.host + "/ws/teller-view/" + teller + "/"
        )
        const audio = new Audio(
            "{% static 'audio.mp3' %}"
        );


        function renderNewCustomer(data) {
            const template = `
            <div class="update customer">
                ${data.message}
                <span>${new Date().toLocaleTimeString("en-GB", { hour: "2-digit", minute: "2-digit", second: "2-digit" })}</span>
            </div>
            `
            return template
        }
        function renderNewChat(data) {
            const userId = getName();
            const owner = userId == data.sender ? "own" : "other"
            const template = `
            <div class="update chat ${owner}">
                <b>From: ${data.sender}</b><br/>
                <p>${data.message}</p>
                <br/>
                <span>${new Date().toLocaleTimeString("en-GB", { hour: "2-digit", minute: "2-digit", second: "2-digit" })}</span>
            </div>
            `
            return template
        }
        customerSocket.onmessage = function (e) {
            const data = JSON.parse(e.data)
            console.log(data)
            if (data.mtype == "checkin") {
                $(".messages-div").append(
                    renderNewCustomer(data)
                )
            } else {
                $(".messages-div").append(
                    renderNewChat(data)
                )
            }

            $(".teller-update").animate({
                scrollTop: $('.teller-update').get(0).scrollHeight
            }, 1000)

            audio.play();
            if (!document.hasFocus()) {
                count++
                document.title = `(${count}) Teller View`
            }

        }
        $(document).on("focus", (e) => {
            count = 0
            document.title = "Home"
        })
        customerSocket.onclose = function () {
            console.log("We lost connection")
        }
        document.querySelector("form").addEventListener("submit", function (e) {

            e.preventDefault()
            const name = e.target.name.value
            const data = JSON.stringify({
                "name": name,
                "mtype": "checkin"
            })
            customerSocket.send(data)
            e.target.reset()
        })

        function getName() {

            const name = sessionStorage.getItem("sender");
            if (!name) {
                let new_name = prompt("To chat enter your name: ",)
                while (!new_name) {
                    new_name = prompt("To chat enter your name: ",)
                }
                sessionStorage.setItem("sender", new_name)
                return new_name
            }
            return name
        }


        $("#send-message").click((e) => {
            $message = $("#chat-message").val()
            if ($message.length > 2) {
                const sender = getName()
                const data = JSON.stringify({
                    "name": sender,
                    "message": $message,
                    "mtype": "chat"
                })
                customerSocket.send(data)
                $("#chat-message").val("")

            } else {
                $("#chat-message").val("")
            }

        })
    </script>
    <script defer src="{% static 'main.js' %}"></script>
</body>

</html>