{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teller| {{teller.name}}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" class="css" />
    <link rel="shortcut icon" href="{% static 'image/favicon.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'update.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li>Follow us</li>
        </ul>
    </nav>
    <div class="separator"></div>
    <div class="teller">
        <h2 class="title">Current customer:</h2>
    </div>
    <div id="next-customer-div">
        {% if teller.get_next_customer %}
        <div class="hero">
            <div class="customer-info">
                <h4>Name: {{teller.get_next_customer.name}}</h4>
                <h4>Code: {{teller.get_next_customer.code}}</h4>
                <h4>Arrived at: {{teller.get_next_customer.arrived_at}}</h4>
            </div>
            <div class="next-timer">
                <h4 class="title">Next customer in...</h4>
                <div class="next-customer-timer">

                    <span class="c-digit" id="c-hours">0</span>
                    <span id="c-minutes" class="c-digit">0</span><span id="c-seconds" class="c-digit">0</span>
                </div>
            </div>

        </div>
        {% else %}
        <div>
            <h2>No customers</h2>
        </div>
        {% endif %}

    </div>
    <div class="all">
        <div class="teller">
            <h2 class="teller">Teller information</h2>
            <hr>
            <div class="teller-div">
                <div class="info">
                    <h4 class="title">Basic info</h4>
                    <div class="teName">
                        <img src="{{teller.profile.url}}" alt="" />
                        <h3>{{teller.name}}</h3>
                    </div>
                    <div class="teName">
                        <img src="{% static 'image/waiting.jpg' %}" alt="" />
                        <h3>{{teller.customers}}</h3>
                    </div>
                    <div class="teName">
                        <img src="{% static 'image/time.png' %}" alt="" />
                        <h3>{{teller.wait_time}} min</h3>
                    </div>
                </div>
                <div class="Badges">
                    <h4 class="title">Achievement</h4>
                    <div class="teName">
                        <img src="{% static 'image/badge1.png' %}" alt="" />
                        <h3>Teller of year 2022</h3>
                    </div>
                    <div class="teName">
                        <img src="{% static 'image/badge2.png' %}" alt="" />
                        <h3>Customer choice</h3>
                    </div>
                    <div class="teName">
                        <img src="{% static 'image/badge3.png' %}" alt="" />
                        <h3>Best track record</h3>
                    </div>
                </div>
            </div>

        </div>
        <div class="on">
            <div class="notify-div">
                <h1 class="notify"></h1>
                <p class="notify-p"></p>
            </div>
            <h2 class="teller-title">Management</h2>
            <hr>
            <div class="checks">
                <form action="{{ teller.get_register_url}}">
                    <input class="custName" type="text" placeholder="Your name" name="name" required />
                    <button class="add">Check in</button>
                </form>
            </div>
            <div class="customer-list">
                <h3 class="title">Pending customers</h3>
                <hr>
                <div class="flex flex-row" id="customer-list">
                    {% for customer in customers %}

                    <div class="customer-div" id="{{customer.code}}">
                        <span class="number" data-color="#345">{{forloop.counter}}</span>
                        <h3>Name: {{customer.name}}</h3>
                        <h3>Code: {{customer.code}}</h3>
                        <h3>Arrived at: {{customer.arrived_at.time}}</h3>

                        <a class="customer-link" id="{{customer.code}}" href="{{customer.get_delete_url}}">Check out</a>

                    </div>
                    {% empty%}
                    <h1>No active customers</h1>
                    {% endfor %}
                </div>


            </div>

        </div>
    </div>

    <div class="countD">
        <h4 class="telle">All customers will checkout in</h4>
        <hr />
        <p>
            Your average estimated time to <br> wait for last customer
            <strong>{{teller.get_estimated_time}} </strong> minutes
        </p>
        <div class="counter">
            <span class="digit" id="hours"></span>
            <span class="digit" id="minutes"></span>
            <span class="digit" id="seconds"></span>
        </div>
    </div>

    <footer>
        <small>&copy; Copyright 2022, group XXX</small>

        <div class="media">
            <img src="{% static 'image/insta.png' %}" alt="" />
            <img src="{% static 'image/youtube.png' %}" alt="" />
            <img src="{% static 'image/twitte.png' %}" alt="" />
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    {{teller.id| json_script:"teller"}}
    <div id="teller-message" class="teller-update">
        <h2>Updates tracker</h2>
        <button class="disable-sound" data-message="Disable sound" id="disable-sound"><img
                src="{% static 'speaker.png' %}" class="speaker-img" alt=""></button>
        <hr>
        <div class="messages-div">
        </div>
        <div class="relative">

            <div class="chat-div">
                <textarea name="chat" id="chat-message" rows="2" placeholder="Message..."></textarea>
                <button id="send-message">Send</button>
            </div>
        </div>

    </div>
    <script defer src="{% static 'main.js' %}"></script>
    <script src="{% static 'reconnecting-websocket.min.js' %}"></script>
    <script>
        const estimated_time = "{{teller.get_estimated_time}}"
        const teller_customers = "{{teller.customers}}"
        const sec = 1000;
        const min = sec * 60;
        const hour = min * 60;
        const day = hour * 24;

        const endt = new Date();
        endt.setMinutes(endt.getMinutes() + parseInt(estimated_time))

        const int = setInterval(() => {
            const current = new Date().getTime();
            const remaining = endt.getTime() - current;
            $("#hours").text(Math.floor(
                (remaining % day) / hour
            ));
            $("#minutes").text(Math.floor(
                (remaining % hour) / min
            ));
            $("#seconds").text(Math.floor(
                (remaining % min) / sec
            ));

            if (remaining < 0) {
                clearInterval(int);
                $(".notify").text("You are on!");
                $(".notify-p").innerHTML =
                    "Your time is now. You can meet the teller";
                $("#seconds").text(0)
                $("#minutes").text(0)
                $("#hours").text(0)
            }
        }, 1000);

        const ending = new Date("{{next_time}}")
        const cur = new Date("{{current_time}}")
        const rseconds = cur.getSeconds() - ending.getSeconds()
        ending.setSeconds(ending.getSeconds() + rseconds)
        const nextCustomer = setInterval(() => {
            const endCustomer = ending.getTime()
            const current = new Date().getTime();
            const remaining = endCustomer - current;
            $("#c-hours").text(Math.floor(
                (remaining % day) / hour
            ));
            $("#c-minutes").text(Math.floor(
                (remaining % hour) / min
            ));
            $("#c-seconds").text(Math.floor(
                (remaining % min) / sec
            ));

            if (remaining < 0) {
                clearInterval(nextCustomer);
                $("#c-seconds").text(0)
                $("#c-minutes").text(0)
                $("#c-hours").text(0)
            }
        }, 1000);


    </script>
    <script defer>
        let count = 0
        const teller = JSON.parse("{{teller.id}}")
        const ws_scheme = window.location.protocol == "https:" ? "wss://" : "ws://"

        const customerSocket = new ReconnectingWebSocket(
            ws_scheme + window.location.host + "/ws/teller-view/" + teller + "/"
        )

        const audio = new Audio(
            "{% static 'audio.mp3' %}"
        );


        const renderNextCustomer = (customer, div) => {
            const template = `
              <div class="hero">
                      <div class="customer-info">
                          <h4>Name: ${customer.name}</h4>
                          <h4>Code: ${customer.code}</h4>
                          <h4>Arrived at: ${new Date(customer.arrived_at).toLocaleTimeString("en-GB", { hour: "2-digit", minute: "2-digit", second: "2-digit" })}</h4>
                      </div>
                      <div class="next-timer">
                          <h4 class="title">Next customer in...</h4>
                          <div class="next-customer-timer">
          
                              <span class="c-digit" id="c-hours">0</span>
                              <span id="c-minutes" class="c-digit">0</span><span id="c-seconds" class="c-digit">0</span>
                          </div>
                      </div>
          
                  </div>
              `;
            div.html(template);
        };

        const renderCustomers = (customers, div) => {
            data = "";
            customers.forEach((customer, index) => {
                const customerDiv = `
              <div class="customer-div" id="${customer.fields.code}">
              <span class="number" >${index + 1}</span>
              <h3>Name: ${customer.fields.name}</h3>
              <h3>Code: ${customer.fields.code}</h3>
              <h3>Arrived at: ${new Date(customer.fields.arrived_at).toLocaleTimeString("en-GB", { hour: "2-digit", minute: "2-digit", second: "2-digit" })}</h3>
          
              <a class="customer-link" id="${customer.fields.code}" href="/delete/${customer.pk}">Check out</a>
          </div>
                  `;
                data += customerDiv;
            });

            div.html(data);
        };

        const renderHomeCustomers = () => {
            const customerDiv = $("#customer-list")
            const nextCustomerDiv = $("#next-customer-div")
            const url = "{{teller.get_update_url}}"
            $.ajax({
                method: "GET",
                url: url,
                beforeSend: () => {
                    console.log("Updating data")
                },
                success: (data) => {
                    const newData = JSON.parse(data)
                    console.log(JSON.parse(newData.customers))
                    if (newData.next_customer) {
                        renderNextCustomer(newData.next_customer, nextCustomerDiv)
                        renderCustomers(JSON.parse(newData.customers), customerDiv)
                    } else {
                        nextCustomerDiv.html(`
                        
                        <h4>No waiting customer registered</>
                        `);
                        customerDiv.html(`
                        <h2>Get served as you check in</h2>
                        
                        `)
                    }


                },
                error: (error) => {
                    console.log(error)
                },
                complete: () => {
                    console.log("Done sending request")
                }

            })
        }

        const allowNotification = () => {
            const state = localStorage.getItem("notify")
            if (state === "false") {
                return false
            }
            return true
        }


        function renderNewCustomer(data) {
            const template = `
            <div class="update customer">
                ${data.message}
                <span>${new Date().toLocaleTimeString("en-GB", { hour: "2-digit", minute: "2-digit", second: "2-digit" })}</span>
            </div>
            `
            return template
        }
        function renderCheckout(data) {
            const template = `
            <div class="update checkout">
                ${data.message}
                <span>${new Date().toLocaleTimeString("en-GB", { hour: "2-digit", minute: "2-digit", second: "2-digit" })}</span>
            </div>
            `
            return template
        }
        function renderNewChat(data) {
            const userId = getName();
            const owner = userId == data.sender ? "own" : "other"
            const head = userId == data.sender ? `` : `<b>From: ${data.sender}</b><br/>`
            const template = `
            <div class="update chat ${owner}">
                ${head}
                <p>${data.message}</p>
                <br/>
                <span>${new Date().toLocaleTimeString("en-GB", { hour: "2-digit", minute: "2-digit", second: "2-digit" })}</span>
            </div>
            `
            return template
        }
        customerSocket.onmessage = function (e) {
            const data = JSON.parse(e.data)
            if (data.mtype == "checkin") {
                $(".messages-div").append(
                    renderNewCustomer(data)
                );
                renderHomeCustomers()
            } else if (data.mtype == "checkout") {
                const id = data.code
                $("#" + id).hide()
                $(".messages-div").append(
                    renderCheckout(data)
                );
            }

            else {
                $(".messages-div").append(
                    renderNewChat(data)
                )
            }

            $(".teller-update").animate({
                scrollTop: $('.teller-update').get(0).scrollHeight
            }, 1000)
            if (allowNotification()) {
                audio.play();
            }

            if (!document.hasFocus()) {
                count++
                document.title = `(${count}) Teller View`
            }

        }

        $(document).on("keyup", (e) => {
            $textarea = $("textarea")
            if ($textarea.is(":focus")) {
                if (e.keyCode == 13 && !e.shiftKey) {
                    $("#send-message").click()
                }
            }
        })
        $(document).on("focus", (e) => {
            count = 0
            setTimeout(() => {
                document.title = "Teller view"
            }, 1000)

        })
        customerSocket.onclose = function () {
            console.log("We lost connection")
        }
        document.querySelector("form").addEventListener("submit", function (e) {

            e.preventDefault()
            const name = e.target.name.value
            const data = JSON.stringify({
                "name": name,
                "mtype": "checkin"
            })
            customerSocket.send(data)
            e.target.reset()
        })

        function getName() {

            const name = sessionStorage.getItem("sender");
            if (!name) {
                let new_name = prompt("To chat enter your name: ",)
                while (!new_name) {
                    new_name = prompt("To chat enter your name: ",)
                }
                sessionStorage.setItem("sender", new_name)
                return new_name
            }
            return name
        }


        $("#send-message").click((e) => {
            $message = $("#chat-message").val()
            if ($message.length > 2) {
                const sender = getName()
                const data = JSON.stringify({
                    "name": sender,
                    "message": $message,
                    "mtype": "chat"
                })
                customerSocket.send(data)
                $("#chat-message").val("")

            } else {
                $("#chat-message").val("")
            }

        })

        $("body").on("click", ".customer-link", (e) => {
            e.preventDefault();
            const elem = $(this)
            const url = e.target.getAttribute("href");
            const id = e.target.getAttribute("id");
            console.log(url, id)
            $.ajax({
                method: "GET",
                url: url,
                success: (data) => {
                    console.log(data);
                    const newdata = {
                        mtype: "checkout",
                        message: `Customer with code ${id} checked out`,
                        name: "teller",
                        code: id
                    };
                    customerSocket.send(JSON.stringify(newdata));
                },
                error: (error) => {
                    console.log(error);
                },
            });
        });
    </script>

</body>

</html>